<% content_for :title, "#{@chateau}" %>

<section id="page-header" class="ph-lg">
	<div class="page-header-image parallax-bg-3 bg-image" style="background-image: url(<%= url_for(@chateau.banner.variant(resize: "1000x450")) if @chateau.banner.attached? %>);">
		<div class="cover bg-transparent-5-dark"></div>
	</div>
	<div class="page-header-inner tt-wrap">
		<div class="page-header-caption parallax-4 fade-out-scroll-4">
			<h1 class="page-header-title"><%= "#{@chateau}" %></h1>
			<div class="page-header-description" data-max-words="40">
				<p><%= @chateau.created_at.strftime("%d/%m/%Y") %></p>
			</div>
		</div>
		<div class="gallery-single-nav parallax-2 fade-out-scroll-4">
			<a href="#" class="gsn-prew" title="Prev Project"><i class="fas fa-angle-left"></i></a>
			<a href="<%= root_url %>" class="gsn-back" title="Retour à la liste"><i class="fas fa-th"></i></a>
			<a href="#" class="gsn-next" title="Next Project"><i class="fas fa-angle-right"></i></a>
		</div>
	</div>
</section>

<% if @chateau.gallery_images.any? %>
	<section id="gallery-single-section">
		<div class="isotope-wrap tt-wrap">
			<div class="isotope col-3 gutter-3">
				<div id="gallery" class="isotope-items-wrap lightgallery">
					<div class="grid-sizer"></div>
					<% @chateau.gallery_images.ordered.each do |gallery_image| %>
						<div class="isotope-item">
							<a href="<%= url_for(gallery_image.file) %>" class="gallery-single-item lg-trigger" data-exthumbnail="<%= url_for(gallery_image.file.variant(resize: "150x113")) %>">
								<img src="<%= url_for(gallery_image.file.variant(resize: "1000x1000")) %>" class="gs-item-image" alt="">
								<div class="gs-item-icon"><i class="fas fa-search"></i></div>
							</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</section>
<% end %>
