<!DOCTYPE html>

<html lang="fr">
	<head>

		<!-- Title -->
		<title><%= yield :title %> - Les Châteaux Forts - Admin</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicon (http://www.favicon-generator.org/) -->
		<link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" type="image/x-icon">
		<link rel="icon" href="<%= image_path('favicon.ico') %>" type="image/x-icon">

    <%= stylesheet_link_tag 'admin', media: 'all' %>
		<%= javascript_include_tag 'admin' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

	</head>

	<body class="<%= body_classes %>">

		<div id="wrapper">
      <nav class="navbar-default navbar-static-side visible-md visible-lg" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <h1><%= link_to 'Châteaux', root_path %></h1>
            </li>
            <%= render_navigation renderer: Navigation::Navbar %>
          </ul>
        </div>
      </nav>
      <div id="page-wrapper" class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <%= render_breadcrumbs tag: :li, separator: '' %>
            </ol>
          </div>
        </div>
        <div class="wrapper wrapper-content">
					<h2><%= yield :title %></h2>
          <%= render "admin/application/alerts" %>
          <%= yield %>
        </div>
        <% if content_for?(:action_bar_left) or content_for?(:action_bar_right) %>
          <div class="footer fixed">
            <div class="pull-left">
              <%= yield :action_bar_left %>
            </div>
            <div class="pull-right">
              <%= yield :action_bar_right %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

	</body>

</html>
